# opam local switch
miiify/_opam/

# Dune build environment
miiify/_build/

# Git
miiify/.git/
miiify/.gitignore

# Development
Dockerfile
docker-compose.yml

# Default git db
miiify/db

# test files
miiify/test

# certs build in Docker build
miiify/server.crt
miiify/server.key

