# opam local switch
_opam/

# Dune build environment
_build/

# Git
.git/
.gitignore

# Development
Dockerfile
docker-compose.yml

# Default git db
db

# test files
test

# certs build in Docker build
server.crt
server.key
